EmployeeServiceImpl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.ejb.apress.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.ejb.apress.com/" name="EmployeeServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.ejb.apress.com/" schemaLocation="http://localhost:8080/EmployeeServiceImplService/EmployeeServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="listarEmployees">
<part name="parameters" element="tns:listarEmployees"/>
</message>
<message name="listarEmployeesResponse">
<part name="parameters" element="tns:listarEmployeesResponse"/>
</message>
<message name="listarPartTimeEmployees">
<part name="parameters" element="tns:listarPartTimeEmployees"/>
</message>
<message name="listarPartTimeEmployeesResponse">
<part name="parameters" element="tns:listarPartTimeEmployeesResponse"/>
</message>
<message name="listarFullTimeEmployees">
<part name="parameters" element="tns:listarFullTimeEmployees"/>
</message>
<message name="listarFullTimeEmployeesResponse">
<part name="parameters" element="tns:listarFullTimeEmployeesResponse"/>
</message>
<portType name="EmployeeServiceWS">
<operation name="listarEmployees">
<input wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarEmployeesRequest" message="tns:listarEmployees"/>
<output wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarEmployeesResponse" message="tns:listarEmployeesResponse"/>
</operation>
<operation name="listarPartTimeEmployees">
<input wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarPartTimeEmployeesRequest" message="tns:listarPartTimeEmployees"/>
<output wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarPartTimeEmployeesResponse" message="tns:listarPartTimeEmployeesResponse"/>
</operation>
<operation name="listarFullTimeEmployees">
<input wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarFullTimeEmployeesRequest" message="tns:listarFullTimeEmployees"/>
<output wsam:Action="http://servicio.ejb.apress.com/EmployeeServiceWS/listarFullTimeEmployeesResponse" message="tns:listarFullTimeEmployeesResponse"/>
</operation>
</portType>
<binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeServiceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPartTimeEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFullTimeEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeServiceImplService">
<port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
<soap:address location="http://localhost:8080/EmployeeServiceImplService/EmployeeServiceImpl"/>
</port>
</service>
</definitions>